.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-fill {
  display: inline-block;
  padding: 5px 10px;
  border: 2px black solid;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
  background: #1DB954;
  transition: color 0.35s ease-in-out;
  z-index: 1;
  border-radius: 0px;
}
.box-fill:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  transform: scale(0);
  z-index: -1;
  opacity: 0;
}
.box-fill:hover {
  color: #1DB954;
}
.box-fill:hover:before {
  transform: scale(1);
  opacity: 1;
}
/*
.box-fill--out {
  color: white;
}
.box-fill--out:before {
  transform: scale(1);
  opacity: 1;
}
.box-fill--out:hover {
  color: black;
}
.box-fill--out:hover:before {
  transform: scale(0);
  opacity: 0;
}
*/
